{% extends "base.html" %}

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Loan Calculator Results</h1>
                    <p>
                        <h3>Total Credit: </h3>
                        {{ total_credit }}
                        <br/>
                        <h3>Total Interest: </h3>
                        {{ total_interest }}
                        <h3>Loan Payment</h3>
                        {{ loan_payment }}

                    </p>
                </div>
                <div class="col-md-12">
                    <p class="align-center"><a href="{% url 'input' %}" class="btn btn-success">Start New Calculation</a></p>
                </div>
            </div>
</div>

{% endblock %}